<!-- Hero Section -->
<section class="hero container mx-auto grid px-12 pb-14">
  <div class="flex justify-center items-start flex-col ar01">
    <h1 class="text-8xl font-bold pt-10">
      A fresh <span> <br> Pizza </span>can make you <span>Delight</span>
    </h1>
    <p class="mt-5">Whether it's a treat for your promotion, a kid topping his class or winning
      the heart of your wife who is too tired to cook after a long day at work! A cheesy
      slice of the best pizza is all one need. Enjoy the fresh falvourful pizza of pizzaro. Check out the menu now.</p>
    <a class="btn-md mt-6" href="#menu">Order Now</a>
  </div>
  <div class="flex items-center justify-center ar02">
    <img src="https://i.postimg.cc/K8xHDkXx/hero-Pizza2.jpg" alt="pizza">
  </div>
</section>

<!-- Offer Section -->
<section id="offer" class="offer container mx-auto px-12 pb-14">
  <h1 class="mb-10 text-2xl font-bold">Just for you.</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-11">
    <div>
      <img class="rounded-2xl" src="https://i.postimg.cc/JzLqC9Kq/1-11zon.png" alt="offer">
    </div>
    <div>
      <img class="rounded-2xl" src="https://i.postimg.cc/zDypCwVn/3-11zon.png" alt="offer">
    </div>
    <div>
      <img class="rounded-2xl" src="https://i.postimg.cc/c4Ymjs7C/2-11zon.png" alt="offer">
    </div>
    <div>
      <img class="rounded-2xl" src="https://i.postimg.cc/h4NspJdN/4-11zon.pngg" alt="offer">
    </div>
  </div>

</section>

<!-- Menu Section -->
<section id="menu" class="menu">
  <div class="container mx-auto px-12 pb-20 pt-12">
    <h1 class="mb-10 text-2xl font-bold">Our Menu.</h1>
    <div class="pizza-container grid grid-cols-4 gap-10 ">
      <% pizzas.forEach(function(pizza){ %>
      <div data-pizza="<%= JSON.stringify(pizza)%>" class="relative card p-7 rounded-2xl menu-card">
        <div class="top">
          <img src="<%= pizza.image %>" alt="pizza">
          <span class="<%=`${pizza.veg ? 'veg' : 'nveg'} absolute food`%>"><i class="ri-circle-fill"></i></span>
        </div>
        <div class="flex flex-col items-center justify-center">
          <h2 class="text-2xl pb-6">
            <%= pizza.name %>
          </h2>
          <select class="mb-8 size select-size">
            <option value="2">Large</option>
            <option value="1">Medium</option>
            <option value="0">Small</option>
          </select>
          <div class="w-full flex justify-between">
            <span class="font-bold price">Rs.<%= pizza.price[2] %></span>
            <a class="btn-md addToCart cursor-pointer">
              <span>+</span>
              <span>Add</span>
            </a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

</section>

<section class="ad-video container mx-auto px-20 pb-14 pt-12">
  <h1 class="video-heading text-5xl font-bold text-center pb-10">Why we are <span class="text-red-500">tooo</span> much <span class="text-red-500">Delicious</span> ?</h1>
  <iframe class="w-full aspect-video rounded-2xl" src="https://www.youtube.com/embed/_mgMgitzTls?rel=0&amp;mute=1&loop=1" title="YouTube video player" allowfullscreen></iframe>
  <p class="text-center pt-5">No matter what the situation, pizza always helps.
    Especially a pizza that gives you the freedom to choose your toppings - from paneer,
    crisp capsicum, grilled mushroom, paneer tikka and extra cheese to
    non-veg toppings such as pepper barbeque chicken,
    grilled chicken rasher, chicken sausage - the options are almost endless -
    Pizzaro understand's you</p>
</section>