<nav data-user="<%=JSON.stringify(user)%>">
  <div class="nav-container container mx-auto flex items-center justify-between px-12 py-5">
    <div>
      <div id="logo">
        <a href="/">
          <img src="https://i.postimg.cc/RhqZ7JZ0/2023-09-14-22-14-29.png" alt="PIZZARO">
        </a>
      </div>
    </div>

    <div>
      <ul class="flex gap-6 items-center">
        <div id="drop-down">
          <i class="ri-arrow-down-s-line"></i>
          <ul>
            <li><a href="/"><i class="ri-home-4-line pr-3"></i></i>Home</a></li>
            <li><a href="/#offer"><i class="ri-shining-line pr-3"></i>Offers</a></li>
            <li><a href="/#menu"><i class="ri-bubble-chart-line pr-3"></i>Menu</a></li>
            <li><a href="/cart"><i class="ri-shopping-cart-line pr-3"></i>Cart</a><span class="cartQty text-sm">
                <%= session.cart ? session.cart.totalQty :'0'%>
              </span></li>
            <%if(user){%>
            <li class=" user-account"><a href="/account"><i class="ri-user-line pr-3"></i><%=user.name.split(' ')[0]%></a><span class="<%= user.isAdmin? 'show' : 'hide'%>">admin</span></li>
            <li><a class="orders" href="/<%=user.isAdmin ? 'admin' : 'customer' %>/orders"><i class="ri-shopping-bag-line pr-3"></i>Orders</a></li>
            <li><a class="logout" href="/"><i class="ri-user-shared-line pr-3"></i>Logout</a></li>
            <%}else{%>
            <li><a href="/register"><i class="ri-user-add-line pr-3"></i>Register</a></li>
            <li><a href="/login"><i class="ri-user-follow-line pr-3"></i>Login</a></li>
            <%}%>
            
          </ul>
        </div>
        <div class="flex gap-6 items-center" id="flat-menu">
          <li><a href="/"><i class="ri-home-4-line pr-2"></i>Home</a></li>
          <li><a href="/#offer"><i class="ri-shining-line pr-2"></i>Offers</a></li>
          <li><a href="/#menu"><i class="ri-bubble-chart-line pr-2"></i>Menu</a></li>
          <%if(user){%>
            <li><a href="/<%=user.isAdmin ? 'admin' : 'customer' %>/orders"><i class="ri-shopping-bag-line pr-2"></i>Orders</a></li>
            <li class="user-account"><a href="/account"><i class="ri-user-line pr-2"></i><%=user.name.split(' ')[0]%></a> <span class="<%= user.isAdmin? 'show' : 'hide'%>">admin</span> </li>
            <%}else{%>
            <li><a href="/register"><i class="ri-user-add-line pr-2"></i>Register</a></li>
            <li><a href="/login"><i class="ri-user-follow-line pr-2"></i>Login</a></li>
            <%}%>
          <li>
            <a id="cart" class="flex gap-1" href="/cart">
              <i class="ri-shopping-cart-fill"></i>
              <span class="cartQty text-sm">
                <%= session.cart ? session.cart.totalQty :'0'%>
            </span>
            </a>
            </li>
        </div>
      </ul>
    </div>
  </div>
</nav>