<nav data-user="<%=JSON.stringify(user)%>">
  <div class="nav-container container mx-auto flex items-center justify-between px-12 py-5">
    <div>
      <div id="logo">
        <a href="/">
          <img src="https://i.postimg.cc/RhqZ7JZ0/2023-09-14-22-14-29.png" alt="PIZZARO">
        </a>
      </div>
    </div>

    <div>
      <ul class="flex gap-6 items-center">
        <div id="drop-down">
          <i class="ri-arrow-down-s-line"></i>
          <ul>
            <li><i class="ri-home-4-line pr-3"></i></i><a href="/">Home</a></li>
            <li><i class="ri-shining-line pr-3"></i><a href="/#offer">Offers</a></li>
            <li><i class="ri-bubble-chart-line pr-3"></i><a href="/#menu">Menu</a></li>
            <li><i class="ri-shopping-cart-line pr-3"></i><a href="/cart">Cart</a><span class="cartQty text-sm">
                <%= session.cart ? session.cart.totalQty :'0'%>
              </span></li>
            <%if(user){%>
            <li class=" user-account"><i class="ri-user-line pr-3"></i><a href="/account"><%=user.name.split(' ')[0]%></a><span class="<%= user.isAdmin? 'show' : 'hide'%>">admin</span></li>
            <li><i class="ri-shopping-bag-line pr-3"></i><a class="orders" href="/<%=user.isAdmin ? 'admin' : 'customer' %>/orders">Orders</a></li>
            <li><i class="ri-user-shared-line pr-3"></i><a class="logout" href="/">Logout</a></li>
            <%}else{%>
            <li><i class="ri-user-add-line pr-3"></i><a href="/register">Register</a></li>
            <li><i class="ri-user-follow-line pr-3"></i><a href="/login">Login</a></li>
            <%}%>
            
          </ul>
        </div>
        <div class="flex gap-6 items-center" id="flat-menu">
          <li><i class="ri-home-4-line pr-2"></i><a href="/">Home</a></li>
          <li><i class="ri-shining-line pr-2"></i><a href="/#offer">Offers</a></li>
          <li><i class="ri-bubble-chart-line pr-2"></i><a href="/#menu">Menu</a></li>
          <%if(user){%>
            <li><i class="ri-shopping-bag-line pr-2"></i><a href="/<%=user.isAdmin ? 'admin' : 'customer' %>/orders">Orders</a></li>
            <li class="user-account"><i class="ri-user-line pr-2"></i><a href="/account"><%=user.name.split(' ')[0]%></a> <span class="<%= user.isAdmin? 'show' : 'hide'%>">admin</span> </li>
            <%}else{%>
            <li><i class="ri-user-add-line pr-2"></i><a href="/register">Register</a></li>
            <li><i class="ri-user-follow-line pr-2"></i><a href="/login">Login</a></li>
            <%}%>
          <li>
            <a id="cart" class="flex gap-1" href="/cart">
              <i class="ri-shopping-cart-fill"></i>
              <span class="cartQty text-sm">
                <%= session.cart ? session.cart.totalQty :'0'%>
            </span>
            </a>
            </li>
        </div>
      </ul>
    </div>
  </div>
</nav>