<section class="orders admin container mx-auto px-12 pb-14">
  <%if(orders.length){%>
  <div class="pt-6 justify-center flex flex-col items-center admin-order-card-container">
    <%orders.forEach(function(order){%>
    <div data-order="<%=JSON.stringify(order)%>" id="card_<%= order._id%>" class="card p-5 rounded mb-8">

      <div class="flex flex-col gap-5">

        <div class="orderData">
          <p class="orderid mb-28"><%=String(order._id).toUpperCase()%></p>
          <div>
            <p class="user"><i class="ri-user-line"></i> <%=order.user.name%></p>
            <p class="phone"><i class="ri-customer-service-2-line"></i> <%=order.phone%></p>
            <p class="address"><i class="ri-map-pin-2-line"></i> <%=order.address%></p>
          </div>
          <div class="items pt-4">
            <table class="mb-3">
              <div>
                <%Object.values(order.items).forEach(function(item){%>
                <tr>
                  <td class="qty"><%=item.qty%></td>
                  <td class="name"><%=item.data.name%></td>
                  <td class="size"><%=item.data.size === 0 ? 'Small' : item.data.size === 1 ? 'Medium' : 'Large'%></td>
                  <td class="price"><%=item.data.price[item.data.size]%> Rs.</td>
                </tr>
                <%})%>
                <tr class="total-row">
                  <td></td>
                  <td></td>
                  <td>Total</td>
                  <td><%=order.amount%> Rs.</td>
                </tr>
            </table>

            <select data-id="<%=order._id%>" data-status="<%=order.status%>" class="cahngeOrderStatus mr-2">
              <option class="0" value="0">Received</option>
              <option class="1" value="1">Confirmed</option>
              <option class="2" value="2">Prepared</option>
              <option class="3" value="3">Delivery</option>
              <option class="4" value="4">Completed</option>
            </select>

            <button class="cancleOrder mr-1">cancle order</button>
          </div>
        </div>


        <div id="status_<%= order._id%>" data-order="<%=JSON.stringify(order)%>" class="orderStatus admin relative">
          <div class="flex">
            <div class="status order_placed">
              <i class="ri-chat-check-fill"></i>
              <span>Received</span><span class="time hide">&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="status order_confirmed relative">
              <div class="bar absolute"></div>
              <i class="ri-verified-badge-fill"></i>
              <span>Confirmed</span><span class="time hide">&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="status order_prepared relative">
              <div class="bar absolute"></div>
              <i class="ri-blaze-fill"></i>
              <span>Prepared</span><span class="time hide">&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="status out_for_delivery relative">
              <div class="bar absolute"></div>
              <i class="ri-e-bike-2-fill"></i>
              <span>Delivery</span><span class="time hide">&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="status order_compleated relative">
              <div class="bar absolute"></div>
              <i class="ri-emotion-fill"></i>
              <span>Completed</span><span class="time hide">&nbsp;&nbsp;&nbsp;</span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <%})%>
  </div>
  <%}else{%>
  <div class="empty-cart">
    <div class="container mx-auto px-12 flex flex-col items-center justify-center mt-20">
      <h1 class="text-3xl font-bold mb-2 text-center">Nothing Ordered Yet !</h1>
      <img class="w-48 m-12" src="/img/empty-cart.png" alt="">
      <p class="text-center">No customer has been ordered a pizza yet.
      </p>
      <a class="btn-md mt-6" href="/">Go Back</a>
    </div>
  </div>
  <%}%>
  

  

</section>